<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Favorit Movies</title>
</head>
<body>
<h1>영화 상세 정보</h1>
<ul>
	<li>제목 : <%= data.title %></li>
	<li>감독 : <%= data.director %></li>
	<li>연도 : <%= data.year %></li>
</ul>
<h2>리뷰 (<%= data.reviews.length %>)</h2>
<ul>
	<% data.reviews.forEach(function (item) { %>
	<li><%= item %></li>
	<% }); %>
</ul>

<form action="/detail/<%= data.movieId %>" method="post">
	<input type="text" name="review" placeholder="리뷰">
	<button type="submit">작성</button>
</form>
</body>
</html>