<!doctype html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>Favorit Movies</title>
</head>
<body>
<h1>Favoirte Movies</h1>
<ul>
	<% data.forEach(function (item) { %>
	<li><a href="/detail/<%= item.movieId %>"><%= item.title %></a></li>
	<% }); %>
</ul>
</body>
</html>